# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# Dependency directories
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# IDE-specific files (e.g., VS Code)
.vscode/
.idea/

# Build artifacts
dist/
build/
coverage/

# Test results
*.xml
*.tap
*.html

# macOS specific files
.DS_Store

# Thumbnails
Thumbs.db